header{
    background-color: black;
}

nav div:nth-child(1){
    display: flex;
    justify-content: space-between;
}

.container__preHeader{
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
}

.container__preHeader a{
    color: #f5f5f5;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: .5rem .5rem;
}

.container__navLinks{
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    
}

.container__navLinks div a{
    color: whitesmoke;
    text-decoration: none;
    margin: 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    background-image: linear-gradient( rgb(110, 110, 110), rgb(110, 110, 110));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.container__navLinks div a:hover{
    color: rgb(110, 110, 110);
    background-size: 100% 1px;
    text-decoration: none;
}