.banner{
    background-color:rgba(0, 0, 0, 0.85);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner img{
    object-fit: cover;
    width: 20vw;
    height: 70vh;
}

.banner p:nth-child(1){
    color: whitesmoke;
    font-size: 5rem;
    font-weight: bold;
    text-justify: inter-word;
}

.banner p:nth-child(2){
    color: whitesmoke;
    font-size: 1.5rem;
}

.banner p:nth-child(3){
    color: rgb(167, 167, 167);
    font-size: .8rem;
}
