.container__newsletter span{
    color: whitesmoke;
    font-weight: bold;
}

.MuiInputBase-input.MuiInput-input{
color: whitesmoke;
font-size: 1rem;
}

.textField__label{
    color: whitesmoke!important;
}

.MuiInput-underline:before {
    border-bottom: 1px solid rgba(250, 248, 248, 0.42)!important;

}

.MuiInput-underline:after {
    border-bottom: 1px solid #fafafa!important;
}

